# <b>Data preprocessing with pandas</b> 

Dataset used:
- Crime Incidents in 2024 (https://catalog.data.gov/dataset/crime-incidents-in-2024)

-By Arun Dhanasekaran

In [1]:
import pandas as pd
data=pd.read_csv("C:/Users/91863/Desktop/Tasks/MY PORTFOLIO PROJECTS/Crime_Incidents_in_2024.csv")

In [2]:
data.head(n=5)

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID
0,405841.8415,134205.6072,24021823,2024/02/11 21:48:38+00,EVENING,OTHERS,THEFT/OTHER,4600 - 4699 BLOCK OF EASY PLACE SE,405841.841539,134205.607162,...,007707 2,7707.0,Precinct 106,38.875661,-76.932677,NaN,2024/02/03 14:00:00+00,2024/02/03 18:00:00+00,711716179,NaN
1,399581.5100,129706.9200,5094764,2024/09/30 04:00:00+00,MIDNIGHT,GUN,HOMICIDE,100 - 146 BLOCK OF WAYNE PLACE SE,399581.510000,129706.920000,...,009803 3,9803.0,Precinct 124,38.835154,-77.004820,NaN,2005/07/18 08:40:00+00,2024/09/30 13:30:00+00,711718366,NaN
2,400040.6100,129046.4721,18060158,2024/07/30 04:00:00+00,MIDNIGHT,GUN,HOMICIDE,400 - 599 BLOCK OF CHESAPEAKE STREET SE,400040.610046,129046.472149,...,009802 2,9802.0,Precinct 125,38.829204,-76.999532,NaN,2018/04/15 16:07:00+00,2018/04/15 17:34:56+00,711735582,NaN
3,399333.6300,129224.3200,23176298,2024/02/24 05:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,4000 - 4098 BLOCK OF SOUTH CAPITOL STREET,399333.630000,129224.320000,...,009807 1,9807.0,Precinct 124,38.830806,-77.007675,NaN,2023/11/03 18:45:00+00,2023/11/03 18:45:00+00,711741844,NaN
4,404689.0100,135000.8400,24000194,2024/01/01 11:50:13+00,MIDNIGHT,OTHERS,THEFT/OTHER,4000 - 4099 BLOCK OF E STREET SE,404689.010000,135000.840000,...,007703 2,7703.0,Precinct 103,38.882831,-76.945957,NaN,2024/01/01 10:54:00+00,2024/01/01 11:40:00+00,711743519,NaN

In [3]:
#Conversion of date and timestamp into accepted format of SQL
data["REPORT_DAT"]=pd.to_datetime(data["REPORT_DAT"])
data["START_DATE"]=pd.to_datetime(data["START_DATE"])
data["END_DATE"]=pd.to_datetime(data["END_DATE"])
data["REPORT_DAT"]=data["REPORT_DAT"].dt.strftime("%Y-%m-%d %H:%M:%S")
data["START_DATE"]=data["START_DATE"].dt.strftime("%Y-%m-%d %H:%M:%S")
data["END_DATE"]=data["END_DATE"].dt.strftime("%Y-%m-%d %H:%M:%S")

In [4]:
data.head(n=5)

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID
0,405841.8415,134205.6072,24021823,2024-02-11 21:48:38,EVENING,OTHERS,THEFT/OTHER,4600 - 4699 BLOCK OF EASY PLACE SE,405841.841539,134205.607162,...,007707 2,7707.0,Precinct 106,38.875661,-76.932677,NaN,2024-02-03 14:00:00,2024-02-03 18:00:00,711716179,NaN
1,399581.5100,129706.9200,5094764,2024-09-30 04:00:00,MIDNIGHT,GUN,HOMICIDE,100 - 146 BLOCK OF WAYNE PLACE SE,399581.510000,129706.920000,...,009803 3,9803.0,Precinct 124,38.835154,-77.004820,NaN,2005-07-18 08:40:00,2024-09-30 13:30:00,711718366,NaN
2,400040.6100,129046.4721,18060158,2024-07-30 04:00:00,MIDNIGHT,GUN,HOMICIDE,400 - 599 BLOCK OF CHESAPEAKE STREET SE,400040.610046,129046.472149,...,009802 2,9802.0,Precinct 125,38.829204,-76.999532,NaN,2018-04-15 16:07:00,2018-04-15 17:34:56,711735582,NaN
3,399333.6300,129224.3200,23176298,2024-02-24 05:00:00,MIDNIGHT,OTHERS,HOMICIDE,4000 - 4098 BLOCK OF SOUTH CAPITOL STREET,399333.630000,129224.320000,...,009807 1,9807.0,Precinct 124,38.830806,-77.007675,NaN,2023-11-03 18:45:00,2023-11-03 18:45:00,711741844,NaN
4,404689.0100,135000.8400,24000194,2024-01-01 11:50:13,MIDNIGHT,OTHERS,THEFT/OTHER,4000 - 4099 BLOCK OF E STREET SE,404689.010000,135000.840000,...,007703 2,7703.0,Precinct 103,38.882831,-76.945957,NaN,2024-01-01 10:54:00,2024-01-01 11:40:00,711743519,NaN

In [5]:
#Checking for null/NaN values among columns
data.isnull().sum()

X                           0
Y                           0
CCN                         0
REPORT_DAT                  0
SHIFT                       0
METHOD                      0
OFFENSE                     0
BLOCK                       0
XBLOCK                      0
YBLOCK                      0
WARD                        4
ANC                         4
DISTRICT                  745
PSA                       468
NEIGHBORHOOD_CLUSTER        4
BLOCK_GROUP                13
CENSUS_TRACT               13
VOTING_PRECINCT             4
LATITUDE                    0
LONGITUDE                   0
BID                     23875
START_DATE                  5
END_DATE                 2093
OBJECTID                    0
OCTO_RECORD_ID          29287
dtype: int64

In [6]:
#Checking for duplicates values among columns
data.duplicated().any()

False

In [7]:
#Data Imputation
'''Since District column is essential in this project and too much null value can skew the results,
So Data imputation can be done by matching by matching other rows's District value with same Latitudea and Longitude value'''

required_column=["DISTRICT"]
for i in required_column:
    data[i]=data.groupby(["LATITUDE","LONGITUDE"])[i].transform(lambda x:x.replace("",pd.NA).bfill().ffill())
    
data["DISTRICT"]=data["DISTRICT"].fillna("Unknown")

In [8]:
#Dropping unneccesary coulumns not required in the project 
data=data.drop(["X","Y","BID","OCTO_RECORD_ID"],axis=1)

In [9]:
data.to_csv("Crime_Incidents_in_2024_cleaned.csv",header=True,index=False)